{% extends 'temp/donor.html' %}
{% block base %}
<h1 align="center">VIEW DONATION REQUEST BY DONOR</h1>
<table align="center"class="table table-bordered text-center">
    {% if objval %}
	<tr style="font-weight: bolder">
		<td>DATE</td>
		<td>DONATION REQUEST</td>
		<td>CAMP</td>

		
	</tr>
    {% for ob in objval %}
	<tr>
		
		<td>{{ ob.date }}</td>
		<td>{{ ob.request }}</td>
		<td>{{ ob.cid }}</td>
		<td>
            <a href="{% url 'doapprove' doidd=ob.id %}">ALLOCATE</a></td>
			<td><a href="{% url 'doreject' doicc=ob.id %}">REJECT</a>
		</td>
	</tr>
    {% endfor %}
{% endif %}
</table>
{% endblock %}